.hero {
  background-color: #7550fe;
}

.features {
  .col {
    & > div:first-child {
      background-color: #ffeeda;
      width: 35px;
      height: 35px;
      img {
        display: block;
        margin-inline: auto;
      }
    }
  }
}

.card-footer {
  .thumbs {
    width: 35px;
    height: 35px;
  }
}

.course-review {
  img {
    width: 20px;
    height: 20px;
  }
  *:not(:last-child) {
    padding-right: 0.3rem;
  }
  & > span:first-of-type {
    color: orange;
  }
}
