.hero {
  background-color: #7550fe;
}

.features {
  .col {
    & > div:first-child {
      background-color: #ffeeda;
      width: 35px;
      height: 35px;
      img {
        display: block;
        margin-inline: auto;
      }
    }
  }
}

.card-footer {
  .thumbs {
    width: 35px;
    height: 35px;
  }
}
